# -*- mode: snippet -*-
# name: checkjsx
# key: checkjsx
# --
output=`jsx --help | grep "Usage:" || echo ""`
if [ -z "$output" ]; then
    echo "[ERROR] - jsx not found";
    echo "[INFO] - you can install it using node js package manager: "
    echo "\$> npm install -g react-tool"
    exit 0
fi