# -*- mode: snippet -*-
# name: checkant
# key: checkant
# --
output=\`ant -version | grep "Apache Ant(TM)" || echo ""\`
if [ -z "$output" ]; then
    echo "[ERROR] - ant not found";
    echo "[INFO] - you can it here: http://ant.apache.org"
    exit 0
fi