# -*- mode: snippet -*-
# name: checkboot
# key: checkboot
# --
output=\`boot -version 2>/dev/null | grep "BOOT_VERSION" || echo "" \`
if [ -z "$output" ]; then
    echo "[ERROR] - boot not found";
    echo "[INFO] - you can get it here: https://github.com/boot-clj/boot"
    exit 0
fi